<!DOCTYPE html>
<html>
<head>
  <title>WebCidadania</title>
  <meta name="description" content="Reunião de iniciativas online de cidadania">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
  <%= javascript_include_tag "application" %>
</body>
</html>
